:root {
	--luka-purple: rgb(218, 182, 255);
	--lighter-luka-purple: rgb(248, 235, 252);
	--light-luka-purple: rgb(233, 212, 253);
	--miku-gray: rgb(160, 116, 205);
	--miku-gray-2: rgb(181, 147, 196);
	--background-gray: rgb(166, 166, 166);
	--dark-luka-purple: rgb(169, 120, 229);
	--darker-luka-purple: rgb(134, 62, 206);
	--darkest-luka-purple: rgb(120, 40, 200);
	--button-color: rgb(134, 62, 206);
	--button-text-color: rgb(147, 102, 192);
	--button-text-color-hover: rgb(255, 255, 255);
	--blocky-site-heading: "Yuruka-UB";
	--paragraph-text: "SkipPro-B";
}

@property --myColor2 {
	syntax: "<color>";
	initial-value: rgb(233, 210, 255);
	inherits: false;
}

@property --myColor1 {
	syntax: "<color>";
	initial-value: rgb(232, 208, 255);
	inherits: false;
}

.big-red-button {
	color: white;
	background-color: red;
	cursor: not-allowed;
}

/* STYLING

WIDTH
HEIGHT
POSITION
  z-index
DISPLAY OPTIONS
  margin
  padding
  justify content
  display
  align items
  line height
  FLEX OPTIONS
  flex direction
  flex wrap
TABLE OPTIONS
FONTS
  family
  size
  text align
  text shadow
COLOR
  text color
  background color
OTHER
  transform
  border 
  border radius
  cursor
  transition
  box-shadow
  box-sizing*/
@media (min-width: 0px) {
	/** -----------------------------------------------GLOBAL--------------------------------------------------- **/
	* {
		margin: 0;
	}

	.light-link {
		color: white;
	}
	button:focus {
		outline: none;
	}

	.global-header {
		width: 100%;
		height: 100%;
		justify-content: center;
		display: flex;
		font-family: var(--blocky-site-heading);
		font-size: 200%;
		color: var(--dark-luka-purple);
		text-shadow: 5px 2px var(--luka-purple);
	}
	.global-header-flipped {
		width: 100%;
		height: 100%;
		justify-content: center;
		display: flex;
		font-family: var(--blocky-site-heading);
		font-size: 200%;
		color: var(--luka-purple);
		text-shadow: 5px 2px var(--dark-luka-purple);
	}

	.global-header.scale-up {
		transform: scale(160%);
		padding-bottom: 4%;
		padding-top: 2%;
	}

	.global-subheader {
		width: 100%;
		height: 100%;
		margin: 2% 0%;
		justify-content: center;
		display: flex;
		font-family: "Yuruka-UB";
		font-size: 125%;
		color: var(--luka-purple);
		text-shadow: 3px 2px var(--dark-luka-purple);
		cursor: default;
	}
	.global-subheader.scale-up {
		transform: scale(150%);
	}
	.global-subheader-flipped.scale-up {
		transform: scale(150%);
	}
	.dynamic-schedule-container-teams > .successful-return-wrapper {
		align-items: center;
		display: flex;
		justify-content: center;
		text-align: center;
	}

	.global-subheader-flipped {
		width: 100%;
		height: 100%;
		margin: 2% 0%;
		justify-content: center;
		display: flex;
		font-family: "Yuruka-UB";
		font-size: 125%;
		color: var(--dark-luka-purple);
		text-shadow: 3px 2px var(--luka-purple);
		cursor: default;
	}

	.label-text-white {
		margin: 0 !important;
		padding: 5%;
		line-height: 30px;
		font-family: "SkipPro-B";
		font-size: 25px;
		text-align: center;
		color: #ffffff;
		cursor: default;
	}

	.label-text-white.teams {
		margin: 0 !important;
		font-family: "SkipPro-B";
		font-size: 15px;
		text-align: center;
		color: #ffffff;
		cursor: default;
	}

	.label-text-white.small-subheading {
		font-size: 16px;
		padding: 0;
	}

	.light-padding {
		padding: 2.5%;
	}

	.submit-wrapper {
		margin: 3% 25% -2% 25%;
		padding-top: 0%;
		justify-content: center;
		align-items: center;
		display: flex;
	}

	.flex-container {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.media-navbar {
		display: none;
	}

	.flex-column-container {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.rounded-text-label {
		width: 60%;
		align-items: center;
		background: var(--luka-purple);
		border-radius: 35px;
	}

	.stat-input {
		width: 10%;
		font-family: "PopHappiness-EB";
		font-size: 145%;
		text-align: center;
		background: #ffffff;
		border: 3px solid var(--miku-gray);
		border-radius: 15px;
		box-sizing: border-box;
		min-width: 50px;
	}

	.stat-input::placeholder {
		font-style: italic;
		color: rgb(175, 175, 175);
	}

	.k-div {
		margin-left: -2%;
		font-family: "PopHappiness-EB";
		font-size: 225%;
		cursor: default;
	}

	.page-background {
		width: 100%;
		height: 100%;
		position: absolute;
		z-index: -1;
		padding: 200 200 200 200;
		background: var(--background-gray);
	}

	#button-row {
		background-color: white;
		border-color: white;
	}

	.top-dialogue {
		width: 100%;
		height: 100%;
	}

	.top-label-wrapper {
		width: 120%;
		margin-top: 5%;
		margin-left: -8%;
		display: flex;
		flex-direction: row;
	}

	.top-input-wrapper {
		width: 100%;
		margin-top: 4%;
		margin-bottom: 2%;
		margin-left: -12%;
		justify-content: center;
		display: inline-flex;
		flex-direction: row;
	}
	.top-input-wrapper-join {
		width: 100%;
		margin-top: 4%;
		margin-bottom: 2%;
		margin-left: -12%;
		justify-content: center;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.rectangular-label-wrapper {
		width: 50%;
		display: flex;
		align-content: center;
		justify-content: center;
		margin: 0 6%;
		align-items: center;
		border-radius: 10px;
		background: var(--miku-gray);
		box-shadow: 2.5px 5px 4px var(--background-gray);
	}
	.rectangular-label-wrapper.full {
		width: 100%;
	}

	.rectangular-label-wrapper.teams {
		width: 20%;
		height: 40%;
		display: flex;
		align-content: center;
		justify-content: center;
		margin: 2 10%;
		align-items: center;
		border-radius: 10px;
		background: var(--miku-gray);
		box-shadow: 2.5px 5px 4px var(--background-gray);
	}

	.manager-name-input {
		width: 40%;
		height: 100%;
		margin-right: 3%;
		padding: 1.2%;
		font-family: "MinchoPro-B";
		background: #ffffff;
		border: 3px solid var(--miku-gray);
		border-radius: 15px;
	}
	.manager-name-input-join {
		width: 70%;
		height: 100%;
		margin-right: 3%;
		padding: 1.2%;
		font-family: "MinchoPro-B";
		background: #ffffff;
		border: 3px solid var(--miku-gray);
		border-radius: 15px;
	}

	.discord-name-input {
		width: 40%;
		height: 100%;
		margin-left: 2%;
		padding: 1%;
		font-family: "MinchoPro-B";
		background: #ffffff;
		border: 3px solid var(--miku-gray);
		border-radius: 15px;
	}

	.team-input-wrapper {
		width: 100%;
		height: 10%;
		margin-left: -10%;
		padding: 3% 0%;
	}

	.team-input-container {
		width: 120%;
		height: 10%;
		justify-content: space-between;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}

	/*----------------------------- GLOBAL BUTTONS----------------------*/
	.submit-btn {
		width: 100%;
		height: 100%;
		padding: 0;
		margin: 1% 1%;
		font-family: "PopHappiness-EB";
		font-size: 200%;
		background: linear-gradient(var(--myColor1), var(--myColor2));
		border-radius: 5px;
		cursor: pointer;
		transition: color 0.15s, box-shadow 0.25s ease-out,
			--myColor1 0.25s ease-out, --myColor2 0.25s ease-out;
		box-sizing: border-box;
		color: var(--button-text-color);
		border: 5px solid var(--button-text-color);
	}

	.btn-shadow {
		width: 70%;
		height: 130%;
		padding: 0.5%;
		justify-content: center;
		align-items: center;
		background: transparent;
		border-radius: 15px;
	}

	.submit-btn:hover {
		color: var(--button-text-color-hover);
		--myColor1: rgb(135, 84, 197);
		--myColor2: rgb(172, 113, 245);
	}

	.x-btn {
		padding: 0;
		width: 25px;
		height: 25px;
		font-family: "PopHappiness-EB";
		background: linear-gradient(var(--myColor1), var(--myColor2));
		border-radius: 3px;
		cursor: pointer;
		transition: color 0.15s, box-shadow 0.25s ease-out,
			--myColor1 0.25s ease-out, --myColor2 0.25s ease-out;
		box-sizing: border-box;
		color: var(--button-text-color);
		border: 2px solid var(--button-text-color);
		text-align: center;
	}

	.x-btn-35 {
		padding: 0;
		width: 35px;
		height: 35px;
		font-family: "PopHappiness-EB";
		background: linear-gradient(var(--myColor1), var(--myColor2));
		border-radius: 3px;
		cursor: pointer;
		transition: color 0.15s, box-shadow 0.25s ease-out,
			--myColor1 0.25s ease-out, --myColor2 0.25s ease-out;
		box-sizing: border-box;
		color: var(--button-text-color);
		border: 2px solid var(--button-text-color);
	}

	.x-btn-45 {
		padding: 0;
		width: 45px;
		height: 35px;
		font-family: "PopHappiness-EB";
		background: linear-gradient(var(--myColor1), var(--myColor2));
		border-radius: 3px;
		cursor: pointer;
		transition: color 0.15s, box-shadow 0.25s ease-out,
			--myColor1 0.25s ease-out, --myColor2 0.25s ease-out;
		box-sizing: border-box;
		color: var(--button-text-color);
		border: 2px solid var(--button-text-color);
	}

	[class^="btn-scroll"] {
		color: var(--light-luka-purple);
		background: var(--dark-luka-purple);
		border: none;
		font-family: "SkipPro-B";
		border-radius: 10px;
		margin: 0.5%;
		width: 100px;
		position: fixed;
		padding: 0.5%;
	}

	.btn-scroll-down {
		bottom: 0;
		left: 0;
	}

	/**-------------------------------DIALOGUE BOXES----------------------------**/

	[class^="dialogue-box"] {
		margin: -6% 15% 15% 15%;
		padding: 15% 15% 4% 15%;
		display: flex;
		flex-direction: column;
		transform: scale(60%);
		background: linear-gradient(
			var(--luka-purple) 0px,
			var(--luka-purple) 100px,
			white 100px,
			white 100%
		);
		border-radius: 35px;
	}

	.dialogue-box-schedule {
		margin-top: 24%;
		align-items: center;
	}

	.dialogue-box-marathon {
		margin-top: -1%;
	}

	.dialogue-box-admin {
		margin: 6% 15% 15% 15%;
	}

	.dialogue-box-admin-help {
		margin: -65% 15% 15% 15%;
	}

	.dialogue-box-teams {
		margin-top: -3%;
	}

	.dialogue-box-teams > .team-input-container {
		margin-left: -10%;
	}

	.dialogue-box-data {
		margin-top: 0.8%;
		align-items: center;
	}

	.dialogue-box-user-help {
		margin-top: -60%;
		align-items: center;
		padding: 8% 15% 4% 15%;
	}

	.dialogue-box-first-event {
		padding: 15% 10% 4% 10%;
	}

	/* ---------------------------------- NAVABR ---------------------------- */

	.navbar-nav.mr-auto {
		justify-content: center;
		align-items: center;
	}

	#nav-logo {
		width: 25%;
		margin-left: 2%;
		cursor: pointer;
	}

	.change-event-selection {
		border-radius: 10px;
		font-family: "SkipPro-B";
		border: 2px outset var(--luka-purple);
	}

	.navbar-wrapper {
		width: 150%;
	}

	.nav-button-back {
		align-items: center;
		justify-content: center;
		background-color: var(--lighter-luka-purple);
		border-radius: 15px;
		padding: 0.5% 0.5%;
		width: 10%;
		display: flex;
		text-align: center;
		text-wrap: wrap;
		margin-right: 2%;
	}

	.user-help-accessories {
		margin: 11.5%;
	}

	.user-help-container {
		margin-top: -10%;
	}

	.nav-button-back:hover {
		align-items: center;
		justify-content: center;
		background-color: var(--dark-luka-purple);
		border-radius: 15px;
		padding: 0.5% 0.5%;
		text-wrap: wrap;
		text-align: center;
	}

	.nav-button-link {
		text-decoration: none;
		color: var(--darker-luka-purple);
		transition: color, background-color 0.15s ease-in-out,
			text-shadow 0.1s ease-in-out, transform 0.15s ease-in-out;
		font-size: 20px;
		padding: 5% 5%;
		text-align: center;
	}

	.nav-button-link-change {
		text-decoration: none;
		background-color: transparent;
		color: var(--darker-luka-purple);
		transition: color, background-color 0.15s ease-in-out,
			text-shadow 0.1s ease-in-out, transform 0.15s ease-in-out;
		font-size: 20px;
		padding: 5% 5%;
		text-align: center;
		border: none;
		border-radius: 15px;
		cursor: pointer;
		transition: color, transform 0.15s ease-in-out, box-shadow 0.3s ease-in-out;
		box-sizing: border-box;
	}

	.nav-button-link-change:hover {
		background-color: transparent;
		text-decoration: none;
		text-shadow: 2.75px 1px var(--darker-luka-purple);
		color: white;
		transform: scale(110%);
	}

	a {
		text-decoration: none;
		color: var(--dark-luka-purple);
		transition: color, background-color 0.15s ease-in-out,
			text-shadow 0.1s ease-in-out, transform 0.15s ease-in-out;
	}

	a:hover {
		text-decoration: none;
		text-shadow: 2.75px 1px var(--darker-luka-purple);
		color: white;
		transform: scale(110%);
	}

	.navbar-brand {
		font-family: "Yuruka-UB";
	}

	.navbar {
		background: var(--luka-purple);
		font-size: 110%;
		font-family: "PopHappiness-EB";
		display: flex;
		width: 100%;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-items: center;
	}

	.navbar-nav {
		justify-content: center;
		width: 100%;
		flex-direction: row;
	}

	.nav-link {
		padding-right: 3.5rem !important;
	}

	.nav-event.nav-link {
		font-size: 100%;
		margin: 0;
		color: var(--dark-luka-purple);
	}

	.top-dialogue-join {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		margin-top: 4%;
	}

	/*-----------------------------------ACESSORIES COMPONENT-----------------------------------*/
	.base-accessories-wrapper {
		width: 170%;
		margin-top: -36%;
		margin-left: -35%;
		display: flex;
		justify-content: space-between;
	}

	#base-accessories-left {
		width: 10%;
		height: 10%;
		margin-top: 0.26%;
	}

	#base-accessories-right {
		width: 10%;
		height: 10%;
		transform: rotate(180deg);
	}

	/*-----------------------------------WELCOME CARD COMPONENTS-----------------------------*/

	.card-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		margin-top: 4%;
	}

	.welcome-card-section {
		width: 100%;
		text-align: center;
		margin: 2%;
		height: 100%;
		min-height: 300px;
		border-radius: 15px;
		transition: transform 0.3s ease-in-out, box-shadow 0.1s ease-in-out;
		align-items: center;
	}
	.card-body {
		margin-bottom: 0;
		margin-top: 150px;
	}
	.welcome-card-section:hover {
		box-shadow: 0px 0px 10px 2px black;
		transform: scale(110%);
	}

	.welcome-card-section > .global-header {
		padding-top: 2%;
	}

	.welcome-card-section.cheerful-carnival {
		background-image: linear-gradient(
				rgba(255, 255, 255, 0.8) 0px,
				rgba(255, 255, 255, 0.6) 50px,
				transparent 100px,
				transparent 50%,
				rgba(255, 255, 255, 0.6) 70%,
				rgba(255, 255, 255, 0.8) 100%
			),
			url("../public/img/street-bg.png");

		width: 100%;
	}
	.welcome-card-section.cheerful-carnival:hover {
		background-image: linear-gradient(
				rgba(255, 255, 255, 0.4) 0px,
				rgba(255, 255, 255, 0.2) 50px,
				transparent 100px,
				transparent 50%,
				rgba(255, 255, 255, 0.2) 70%,
				rgba(255, 255, 255, 0.4) 100%
			),
			url("../public/img/street-bg.png");

		width: 100%;
	}
	.welcome-card-section.marathon {
		background-image: linear-gradient(
				rgba(255, 255, 255, 0.8) 0px,
				rgba(255, 255, 255, 0.6) 50px,
				transparent 100px,
				transparent 50%,
				rgba(255, 255, 255, 0.6) 70%,
				rgba(255, 255, 255, 0.8) 100%
			),
			url("../public/img/classroom-bg.png");
		width: 100%;
	}
	.welcome-card-section.marathon:hover {
		background-image: linear-gradient(
				rgba(255, 255, 255, 0.4) 0px,
				rgba(255, 255, 255, 0.2) 50px,
				transparent 100px,
				transparent 50%,
				rgba(255, 255, 255, 0.2) 70%,
				rgba(255, 255, 255, 0.4) 100%
			),
			url("../public/img/classroom-bg.png");
		width: 100%;
	}
	.welcome-card-section.admin {
		background-image: linear-gradient(
				rgba(255, 255, 255, 0.8) 0px,
				rgba(255, 255, 255, 0.6) 50px,
				transparent 100px,
				transparent 50%,
				rgba(255, 255, 255, 0.6) 70%,
				rgba(255, 255, 255, 0.8) 100%
			),
			url("../public/img/mall-bg.png");
		width: 100%;
	}
	.welcome-card-section.admin:hover {
		background-image: linear-gradient(
				rgba(255, 255, 255, 0.4) 0px,
				rgba(255, 255, 255, 0.2) 50px,
				transparent 100px,
				transparent 50%,
				rgba(255, 255, 255, 0.2) 70%,
				rgba(255, 255, 255, 0.4) 100%
			),
			url("../public/img/mall-bg.png");
		width: 100%;
	}
	.welcome-card-section.create-account {
		background-image: linear-gradient(
				rgba(255, 255, 255, 0.8) 0px,
				rgba(255, 255, 255, 0.6) 50px,
				transparent 100px,
				transparent 50%,
				rgba(255, 255, 255, 0.6) 70%,
				rgba(255, 255, 255, 0.8) 100%
			),
			url("../public/img/stage-bg.png");
		width: 100%;
	}
	.welcome-card-section.create-account:hover {
		background-image: linear-gradient(
				rgba(255, 255, 255, 0.4) 0px,
				rgba(255, 255, 255, 0.2) 50px,
				transparent 100px,
				transparent 50%,
				rgba(255, 255, 255, 0.2) 70%,
				rgba(255, 255, 255, 0.4) 100%
			),
			url("../public/img/stage-bg.png");
		width: 100%;
	}
	.welcome-card-section.help {
		background-image: linear-gradient(
				rgba(255, 255, 255, 0.8) 0px,
				rgba(255, 255, 255, 0.6) 50px,
				transparent 100px,
				transparent 50%,
				rgba(255, 255, 255, 0.6) 70%,
				rgba(255, 255, 255, 0.8) 100%
			),
			url("../public/img/shop-bg.png");
		width: 100%;
	}
	.welcome-card-section.help:hover {
		background-image: linear-gradient(
				rgba(255, 255, 255, 0.4) 0px,
				rgba(255, 255, 255, 0.2) 50px,
				transparent 100px,
				transparent 50%,
				rgba(255, 255, 255, 0.2) 70%,
				rgba(255, 255, 255, 0.4) 100%
			),
			url("../public/img/shop-bg.png");
		width: 100%;
	}
	.card-body {
		font-family: "SkipPro-B";
		text-align: center;
	}
	.card-background {
		width: 100%;
	}
	/**-----------------------------------BACK BUTTON COMPONENT ---------------------------------- **/

	.back-button-wrapper {
		margin-top: 1%;
		margin-left: 1%;
		position: absolute;
	}

	.back-img {
		width: 13%;
		height: 13%;
		transition: transform 0.3s ease-in-out;
	}

	.back-img:hover {
		transform: scale(130%);
	}

	/**------------------------------------- MARATHON PAGE ----------------------------------**/

	/**------------------------------------- HEART BORDER COMPONENT ----------------------------------**/
	.border-img {
		width: 100%;
		margin: 1% 0%;
	}

	/* ---------------------------------- HOME PAGE ---------------------------- */
	.welcome-msg {
		font-family: "SkipPro-B";
		font-size: 100%;
		text-align: center;
	}

	#cute-luka {
		border-radius: 0%;
	}

	.community-msg {
		font-family: "PopHappiness-EB";
		font-size: 125%;
		text-align: center;
	}

	/** ---------------------------------- ADMIN PAGE ---------------------------- **/

	.admin-wrapper {
		margin-top: -20%;
	}

	.admin-help-body {
		font-size: 20px;
	}

	.admin-form {
		width: 150%;
		height: 100%;
		margin-top: 5%;
		margin-left: -25%;
		display: flex;
	}

	.admin-input-family {
		width: 100%;
		display: flex;
	}

	/*----------------------------------------ADMIN NOTICE COMPONENT --------------------------------*/

	.page-back-admin-notice {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.admin-notice-container {
		margin-top: 5%;
		padding: 2%;
		border-radius: 15px;
		width: 60%;
		background-color: white;
		font-family: "SkipPro-B";
	}

	/** ----------------------------------------- SCHEDULE PAGE ------------------------------------- **/

	[class^="filler-input"] {
		border-radius: 10px;
		font-family: "SkipPro-B";
		border: 2px outset var(--luka-purple);
		width: 30%;
	}

	[class^="filler-input"]::selection {
		border-radius: 5px;
		font-family: "SkipPro-B";
		border: 3px outset var(--luka-purple);
	}

	.filler-input {
		font-size: large;
		background: #ffffff;
		border: 3px solid var(--miku-gray);
		border-radius: 15px;
		box-sizing: border-box;
	}

	.filler-input.sub {
		width: 100%;
	}

	[class^="hour-container"] {
		border-radius: 15px;
		width: 85%;
		min-width: 600px;
		height: 100%;
	}

	[class^="notes-per-hour"] {
		border-radius: 5px;
	}

	[class^="notes-wrapper"] {
		width: 6%;
		margin-left: 1%;
		display: flex;
		flex-direction: column;
	}

	[class^="wing-box"] {
		background-color: transparent;
		border-radius: 5px;
		width: 100%;
		height: 100%;
		margin-left: 5%;
	}

	.wing-box.team {
		background-color: transparent;
		border-radius: 5px;
		width: 100%;
		height: 100%;
		margin-right: -10%;
	}

	.wing-box > button:hover {
		transform: scale(120%);
	}

	.wing-box > button {
		border-radius: 5px;
		background-color: transparent;
		background: url("../public/img/dropdown-arrow.png");
		background-position: center;
		height: 25px;
		cursor: pointer;
		transition: transform 0.2s ease-in-out;
		border: 1px solid transparent;
	}

	.wing-box.teams > button {
		border-radius: 5px;
		margin-left: 130%;
		background-color: transparent;
		background: url("../public/img/dropdown-arrow.png");
		background-position: center;
		height: 25px;
		cursor: pointer;
		transition: transform 0.2s ease-in-out;
		border: 1px solid transparent;
	}

	.edit-wing {
		width: 10%;
		height: 10%;
		cursor: pointer;
	}

	.change-team-container {
		width: 10%;
	}

	.change-team-container > div > .submit-btn {
		font-size: 8px;
	}

	.edit-btns-container {
		display: flex;
		flex-direction: column;
	}

	.schedule-top {
		display: flex;
		flex-direction: row;
		padding: 0 0 1% 0;
		height: 45px;
	}

	.schedule-heart-border {
		width: 70%;
		padding-bottom: 2%;
		margin-top: -3%;
	}

	.schedule-range {
		border-radius: 10px;
		font-family: "SkipPro-B";
		border: 2px outset var(--luka-purple);
		height: 90%;
	}

	.choose-event {
		width: 100%;
		font-size: 25px;
		border-radius: 10px;
		font-family: "SkipPro-B";
		border: 2px outset var(--miku-gray);
	}

	.event-selection-wrapper {
		width: 50vw;
		height: 50vh;
		margin-top: -15%;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	.notes-tag {
		font-size: 10px;
		margin-bottom: 0;
		margin-left: 80%;
		font-family: "SkipPro-B";
	}

	.select-div {
		width: 5%;
		height: 2.5%;
		padding-top: 0.5%;
		padding-bottom: 0.5%;
		justify-content: center;
		align-items: center;
		text-align: center;
		background-color: var(--darker-luka-purple);
		border: 2px var(--miku-gray) solid;
		border-radius: 15px;
		margin-right: 3%;
	}

	.select-div > button {
		width: 80%;
		height: 110%;
		padding: 0;
		font-family: "PopHappiness-EB";
		font-size: 15px;
		background-color: var(--light-luka-purple);
		border: none;
		border-radius: 15px;
		cursor: pointer;
		transition: color, background-color 0.3s ease-in-out,
			box-shadow 0.3s ease-in-out;
		box-sizing: border-box;
	}

	.select-btn-container {
		width: 50px;
	}

	.event-dropdown-wrapper {
		margin-top: 2%;
		margin-bottom: 5%;
	}

	.event-txt {
		margin: 0 !important;
		font-family: "SkipPro-B";
		font-size: 250%;
		text-align: center;
		color: var(--miku-gray);
	}

	.no-fillers-message {
		display: flex;
		justify-content: center;
		text-align: center;
		font-family: "SkipPro-B";
		font-size: 12px;
	}

	.dynamic-schedule-container {
		width: 42%;
		height: 100%;
		padding-top: 4%;
		align-items: center;
		display: flex;
		flex-direction: column;
		background: linear-gradient(
			var(--luka-purple) 0px,
			var(--luka-purple) 60px,
			white 60px,
			white 100%
		);
		border-radius: 20px;
		min-width: 650px;
	}

	.dynamic-schedule-container-teams {
		width: 42%;
		height: 100%;
		padding-top: 4%;
		margin-top: 6%;
		align-items: center;
		display: flex;
		flex-direction: column;
		background: linear-gradient(
			var(--luka-purple) 0px,
			var(--luka-purple) 60px,
			white 60px,
			white 100%
		);
		border-radius: 20px;
		min-width: 350px;
	}

	.current-fillers {
		margin-top: 2%;
		width: 60%;
	}

	.title-wrapper {
		display: flex;
		flex-direction: row;
		width: 100%;
		align-items: center;
		justify-content: space-evenly;
		margin-top: 2%;
	}

	.notes-subs-wrapper {
		display: flex;
		flex-direction: row;
		width: 100%;
		justify-content: center;
	}

	.small-text {
		font-family: "SkipPro-B";
		font-size: 12px;
	}

	.medium-text {
		font-family: "SkipPro-B";
		font-size: 15px;
	}

	.single-active-sub {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 100%;
	}

	.active-sub-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}

	.sub-container {
		width: 25%;
		height: 90%;
	}

	.sort-by-wrapper {
		display: flex;
		flex-direction: row;
		width: 100%;
		height: 100%;
		margin-left: 80%;
		font-family: "SkipPro-B";
		align-items: center;
		justify-content: center;
	}

	.no-margin {
		margin: 0;
	}

	.find-teams-wrapper {
		align-items: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
		margin-top: 10%;
		width: 75%;
		height: 100%;
	}

	.notes-subs-wrapper {
		margin-top: 2%;
	}

	.filler-container {
		width: 100%;
		height: 100%;
		display: flex;
		font-family: "Skippro-B";
		color: var(--darker-luka-purple);
		flex-direction: row;
		border: 1px solid var(--dark-luka-purple);
		flex-wrap: nowrap;
		border-radius: 10px;
		padding: 2%;
		justify-content: center;
		align-items: center;
		background-color: var(--lighter-luka-purple);
	}

	.bottom-selection-teams {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		align-items: center;
	}

	.single-current-filler {
		margin: 2%;
		width: 100%;
		height: 100%;
	}

	.center-and-column {
		align-items: center;
		justify-content: center;
		margin-top: 75%;
		display: flex;
		flex-direction: column;
	}

	.number-of-teams {
		position: fixed;
		left: 0;
		top: 18%;
		background: var(--luka-purple);
		padding: 0.25%;
		border-radius: 5px;
		color: var(--lighter-luka-purple);
		align-items: center;
		justify-content: center;
		text-align: center;
		font-family: "SkipPro-B";
		text-shadow: 1px 1px var(--darker-luka-purple);
		font-size: 15px;
	}
	.sub-manager-notice {
		width: 60%;
		display: flex;
		align-items: center;
	}

	.center-and-column-teams {
		align-items: center;
		justify-content: center;
		display: flex;
		margin-top: 0%;
		flex-direction: column;
	}

	.schedule-acessories {
		width: 57.25%;
		margin-bottom: -12%;
		margin-top: -63%;
	}

	.schedule-background {
		width: 100%;
		height: 100%;
		padding-top: 4.5%;
		align-items: center;
		display: flex;
		background-color: var(--background-gray);
		flex-direction: column;
	}

	.event-input-wrapper {
		width: 100%;
		height: 25%;
		align-items: center;
		justify-content: center;
		display: flex;
		flex-direction: column;
	}

	.hour-label-wrapper {
		background: var(--miku-gray);
		border-radius: 18px;
		white-space: nowrap;
		padding: 1%;
		margin-right: 0.5%;
	}

	.note-per-hour {
		text-wrap: wrap;
		width: 50%;
	}

	.note-input-container {
		width: 80%;
		height: 100px;
		padding: 5px 5px;
		box-sizing: border-box;
		border: 2px solid var(--miku-gray);
		border-radius: 10px;
		background-color: #f8f8f8;
	}

	.note-textarea {
		width: 50%;
		height: 100px;
		padding: 5px 5px;
		box-sizing: border-box;
		border: 2px solid var(--miku-gray);
		border-radius: 10px;
		background-color: #f8f8f8;
	}

	.hour-team-wrapper {
		padding: 0.25%;
		justify-content: flex-end;
		align-items: center;
		background-color: var(--luka-purple);
		border-radius: 15px;
		display: flex;
		flex-wrap: nowrap;
		flex: 1 0 20%; /* explanation below */
		padding: 2%;
	}

	.hour-label {
		margin: 0 !important;
		line-height: 30px;
		font-family: "SkipPro-B";
		font-size: 15px;
		color: #ffffff;
		text-align: center;
	}

	.schedule-page {
		height: 100%;
	}

	.find-teams-button-wrapper {
		width: 100%;
		height: 100%;
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	.no-wrap {
		flex-wrap: nowrap;
		display: flex;
	}

	.hour-form-wrapper {
		padding: 0.25%;
		justify-content: flex-end;
		align-items: center;
		background-color: var(--luka-purple);
		border-radius: 15px;
		display: flex;
		flex-wrap: nowrap;
		flex: 1 0 20%; /* explanation below */
		padding: 2%;
		width: 100%;
	}

	.hour-wrapper:nth-of-type(odd) {
		background: var(--luka-purple);
		border-radius: 15px;
	}

	.btn-shadow-event {
		width: 20%;
		height: 15%;
		padding: 0.5%;
		justify-content: center;
		text-align: center;
		align-items: center;
		display: flex;
		background: transparent;
		border-radius: 10px;
	}

	.matched-teams-container {
		display: flex;
		background-color: var(--luka-purple);
		color: var(--light-luka-purple);
		text-shadow: 1px 1px var(--darker-luka-purple);
		padding: 2%;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		border-radius: 15px;
		font-family: "SkipPro-B";
		font-size: small;
		width: 100%;
	}

	.team-sub-group,
	.team-number-title {
		margin: 2%;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.team-one,
	.team-two,
	.team-three,
	.team-four,
	.team-five {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin: 2%;
		width: 100%;
		align-items: center;
		background-color: var(--dark-luka-purple);
		border-radius: 10px;
	}

	.schedule-submit,
	.schedule-load {
		width: 6%;
		height: 45px;
		text-align: center;
		align-items: center;
		justify-content: center;
		display: flex;
		margin: 0% 0.5%;
		font-family: "PopHappiness-EB";
		font-size: 200%;
		color: var(--dark-luka-purple);
		background-color: var(--luka-purple);
		border: none;
		border-radius: 15px;
		cursor: pointer;
		transition: color, background-color 0.3s ease-in-out,
			text-shadow 0.2s ease-in-out, transform 0.3s ease-in-out;
		box-sizing: border-box;
		position: fixed;
		min-width: 80px;
	}

	.schedule-submit {
		top: 40%;
		left: 0;
	}
	.schedule-load {
		top: 60%;
		left: 0;
	}

	.schedule-missing {
		width: 25%;
		height: 90%;
		padding: 0;
		font-family: "PopHappiness-EB";
		font-size: 200%;
		color: white;
		background-color: var(--miku-gray);
		border: none;
		border-radius: 15px;
		cursor: pointer;
		transition: color, background-color 0.3s ease-in-out,
			text-shadow 0.2s ease-in-out, transform 0.3s ease-in-out;
		box-sizing: border-box;
	}

	.schedule-submit:hover,
	.schedule-load:hover {
		color: white;
		text-shadow: 3px 2px var(--darker-luka-purple);
		transform: scale(105%);
	}

	.schedule-missing:hover {
		text-shadow: 2px 2px var(--dark-luka-purple);
		transform: scale(105%);
	}

	.needed-filler-entry {
		color: white;
	}

	.btn-shadow.find-teams {
		width: 18%;
		color: transparent;
		margin-top: 2%;
		font-size: 8px;
	}

	.btn-shadow.find-teams > button {
		border-radius: 10px;
		border: 3px solid var(--button-text-color);
	}

	.needed-filler-subheading {
		color: var(--light-luka-purple);
		margin-top: -4%;
	}

	.needed-hour-wrapper {
		padding: 1%;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column;
		background-color: var(--miku-gray);
		border-radius: 35px;
	}

	.filler-note {
		margin-top: 6%;
		text-align: center;
		color: white;
	}

	.fillers-header.global-header {
		margin-top: 0%;
	}

	/** ----------------------------------------- TEAMS PAGE --------------------------------- **/

	.small-selection-box {
		border-radius: 10px;
		font-family: "SkipPro-B";
		border: 2px outset var(--luka-purple);
		margin-left: 0.5%;
		margin-right: 0.5%;
	}

	.team-one.no-background {
		background-color: transparent;
	}

	.heart-border-wrapper {
		width: 70%;
		margin-top: -2%;
		margin-bottom: 2%;
	}

	.current-team-break {
		height: 2px;
		border-width: 0;
		color: var(--button-color);
		background-color: var(--lighter-luka-purple);
	}

	.matched-teams-container.current-team {
		flex-direction: column;
		flex-wrap: wrap;
		width: 8%;
		padding: 0;
		position: fixed;
		left: 2px;
		top: 25%;
	}

	.team-number-title.current-team {
		font-size: 20px;
		color: var(--lighter-luka-purple);
	}
	.team-one.current-team {
		flex-direction: column;
		width: 90%;
	}

	.team-title-wrapper {
		margin: 50% 0% 8% 0%;
		justify-content: flex-start;
		align-items: center;
		display: flex;
		flex-direction: row;
		text-align: center;
	}

	.team-title-wrapper > .global-header {
		width: 100%;
		font-size: 300%;
	}

	.miku-wrapper {
		margin-left: -32%;
		margin-top: 10%;
		margin-bottom: -15%;
	}

	.miku {
		width: 60%;
	}

	.global-header.teams-header {
		margin: 2% 0%;
	}

	.successful-return-wrapper {
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column;
		background-color: var(-luka-pink);
	}

	[class^="successful-team"] {
		width: 80%;
		display: flex;
	}

	[class^="successful-filler"] {
		width: 100%;
		margin: 0% 2%;
	}

	.hour-wrapper,
	[class^="successful-filler"] {
		width: 100%;
		padding: 0.25%;
		justify-content: center;
		align-items: center;
		display: flex;
	}

	.hour-wrapper:nth-of-type(even),
	[class^="successful-team"]:nth-of-type(even) {
		color: white;
		background: var(--dark-luka-purple);
		border-radius: 15px;
	}

	.hour-wrapper:nth-of-type(odd),
	[class^="successful-team"]:nth-of-type(odd) {
		color: var(--miku-gray);
		background: var(--light-luka-purple);
		border-radius: 15px;
	}

	.hour-label-mod {
		margin: 0 !important;
		text-align: center;
		font-family: "SkipPro-B";
		font-size: 15px;
		line-height: 30px;
	}

	[class^="filler-name"] {
		padding: 0.5%;
	}

	.team-matcher-wrapper {
		width: 100%;
		height: 100%;
		margin-top: 3%;
		align-items: center;
		display: flex;
	}

	.team-matcher-wrapper > .btn-shadow {
		width: 10%;
		margin-left: 45%;
		padding: 0.25%;
		font-size: 50%;
		border-radius: 10px;
		background-color: transparent;
	}

	.team-matcher-wrapper > .btn-shadow > .submit-btn {
		border-radius: 7px;
	}

	/* STYLING

WIDTH
HEIGHT
POSITION
  z-index
DISPLAY OPTIONS
  margin
  padding
  justify content
  align items
  display
  line height
FLEX OPTIONS
  flex direction
  flex wrap
TABLE OPTIONS
FONTS
  family
  size
  text align
  text shadow
COLOR
  text color
  background color
OTHER
  transform
  border 
  border radius
  cursor
  transition
  box-shadow
  box-sizing*/

	/* ---------------------------------DATA----------------------------------------*/

	.edit-btn-wrapper {
		margin-left: 85%;
		padding-top: 2%;
		padding-bottom: 1%;
	}

	.remove-icon {
		width: 10%;
		height: 10%;
	}

	.btn-shadow.remove-btn {
		transform: scale(60%);
		width: 50%;
		margin: auto;
	}

	.edit-user-btn {
		box-sizing: border-box;
		background-color: white;
		border: none;
		border-radius: 15px;
		width: 90%;
		height: 90%;
		margin-left: 5%;
		font-family: "PopHappiness-EB";
		font-size: 90%;
		cursor: pointer;
		transition: color, background-color 0.3s ease-in-out,
			box-shadow 0.3s ease-in-out;
	}

	.edit-btn-shadow {
		background-color: #e0e0e0;
		width: 30%;
		height: 20%;
		justify-content: center;
		border: 2px var(--button-color) solid;
		align-items: center;
		align-items: center;
		border-radius: 15px;
		padding: 0.2%;
	}

	.table-wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
	}

	table {
		border-spacing: 0;
		background-color: transparent;
		height: 100%;
		width: 80%;
		text-align: center;
		margin: auto;
	}

	.all-manager-data {
		margin-top: 5%;
	}

	.button-div {
		padding: 3%;
	}

	.tbody-edit-state {
		align-items: center;
		margin: auto;
	}

	.tbody-edit-state input {
		width: 15%;
		background: #ffffff;
		border: 3px solid var(--miku-gray);
		border-radius: 15px;
		font-family: "MinchoPro-B";
		height: 100%;
		padding: 1%;
		margin-left: 2%;
	}

	tr {
		height: 45px;
	}

	thead {
		background: var(--miku-gray);
		color: var(--light-luka-purple);
		font-size: 175%;
		font-family: "PopHappiness-EB";
	}

	tbody {
		font-family: "SkipPro-B";
	}
	.loading-msg {
		margin: auto;
		margin-top: 15%;
	}
	tbody tr:nth-of-type(odd) {
		background-color: var(--luka-purple);
		color: var(--dark-luka-purple);
	}

	tbody tr:nth-of-type(even) {
		background-color: var(--light-luka-purple);
		color: var(--darker-luka-purple);
	}

	.userdata-btn {
		margin-top: -12%;
	}

	/*-----------------------------------------HELP PAGES---------------------------------*/
	.user-help-wrapper {
		margin-top: 0%;
	}
	.user-help-wrapper p {
		font-size: 18px;
	}

	.help-question,
	.help-answer {
		font-size: 18px;
	}

	.answer-container:nth-of-type(odd) {
		font-family: "SkipPro-B";
		background-color: var(--light-luka-purple);
		border-radius: 15px;
		padding: 2%;
		margin: 2%;
	}
	.answer-container:nth-of-type(even) {
		font-family: "SkipPro-B";
		background-color: var(--dark-luka-purple);
		border-radius: 15px;
		padding: 2%;
		color: var(--light-luka-purple);
		padding: 2%;
		margin: 2%;
	}

	.answer-container > .help-question:nth-of-type(odd) {
		font-size: 25px;
		text-decoration: underline;
		text-align: center;
	}

	.user-help {
		font-size: 120%;
	}

	.welcome-message {
		font-size: 25px;
		margin-bottom: 10%;
	}

	.help-answer {
		font-size: 20px;
	}

	/**--------------------------------------FIRST EVENT CREATION-----------------------------**/
	.event-wrapper {
		align-items: center;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	.runner-stat-group {
		align-items: center;
		display: flex;
		justify-content: center;
		flex-direction: row;
		width: 50%;
	}

	.global-header.new-event-header {
		font-size: 350%;
	}

	.label-text-white.new-event-label {
		font-size: 120%;
	}

	.rectangular-label-wrapper.event-label-back {
		width: 60%;
		height: 60%;
	}

	.k-div-runner {
		font-family: "PopHappiness-EB";
		font-size: 225%;
		cursor: default;
	}

	.first-event-text {
		font-family: "SkipPro-B";
		cursor: default;
		margin-bottom: 2%;
	}
	.run-pass.stat-input {
		width: 75%;
	}

	.runner-name.stat-input {
		width: 75%;
	}

	.runner-submit > .btn-shadow {
		width: 120%;
	}

	.create-run-acessories {
		width: 80%;
		margin-left: 10%;
		margin-bottom: -16%;
	}

	.top-input-wrapper.top-event-input {
		display: flex;
		flex-direction: row;
		align-items: center;
	}
	.runner-stat-group > .stat-input {
		width: 20%;
	}

	.event-selection {
		align-items: center;
		display: flex;
		justify-content: center;
		flex-direction: row;
		width: 100%;
		height: 100%;
		cursor: default;
		font-size: 18px;
		padding: 2%;
	}

	.event-selection-join {
		align-items: center;
		display: flex;
		justify-content: center;
		flex-direction: row;
		width: 100%;
		height: 100%;
		cursor: default;
		font-size: 18px;
		padding: 2%;
		font-family: "SkipPro-B";
		cursor: default;
	}

	.event-selection > select {
		width: 60%;
		border: 2px var(--miku-gray) solid;
		border-radius: 15px;
		font-size: 145%;
		cursor: pointer;
		height: 100%;
	}
	.event-selection-join > select {
		width: 70%;
		border: 2px var(--miku-gray) solid;
		border-radius: 15px;
		font-size: 145%;
		cursor: pointer;
		height: 100%;
		margin-left: 40%;
	}

	.global-subheader.event-subheader {
		font-size: 200%;
	}
}

.mobile-notice {
	display: none;
	height: 0px;
}

/*                                    IMPORTED FONTS                                */

/* Bold, more handwrite-like, good for page headings? */
@font-face {
	font-family: "PopHappiness-EB";
	src: local("FOT-PopHappinessStd-EB"),
		url(./fonts/FOT-PopHappinessStd-EB.ttf) format("truetype");
}

/* The most generic. Sans serif, not interesting */
@font-face {
	font-family: "Rodin-DB";
	src: local("FOT-RodinNTLGPro-DB"),
		url(./fonts/FOT-RodinNTLGPro-DB.ttf) format("truetype");
}

/* Semi-bold comparatively, straigh lines with a small bit of calligraphy filling */
@font-face {
	font-family: "SkipPro-B";
	src: local("FOT-SkipProN-B"),
		url(./fonts/FOT-SkipProN-B.ttf) format("truetype");
}

/* Bold, same as SkipProN but bolder, a bit generic */
@font-face {
	font-family: "MinchoPro-B";
	src: local("FOT-UDMinchoPro-B"),
		url(./fonts/FOT-UDMinchoPro-B.ttf) format("truetype");
}

/* Ultra bold, blocky, good for site heading */
@font-face {
	font-family: "Yuruka-UB";
	src: local("FOT-YurukaStd-UB"),
		url(./fonts/FOT-YurukaStd-UB.ttf) format("truetype");
}

/*-------------------------------------------------------QUERY FOR PHONES ----------===================================--------*/
@media (min-width: 600px) and (max-width: 1000px) {
	/*-------DIALOGUE BOXES--------*/
	[class^="dialogue-box"] {
		display: flex;
		padding: 0;
		flex-direction: column;
		background: linear-gradient(
			var(--luka-purple) 0px,
			var(--luka-purple) 75px,
			white 75px,
			white 100%
		);
		border-radius: 35px;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
		transform: scale(85%);
		margin: 0;
	}

	html,
	body {
		max-width: 100%;
		overflow-x: hidden;
	}

	.submit-btn {
		width: 100%;
		height: 70%;
		padding: 0;
		margin: 1% 1%;
		font-family: "PopHappiness-EB";
		font-size: 200%;
		background: linear-gradient(var(--myColor1), var(--myColor2));
		border-radius: 5px;
		cursor: pointer;
		transition: color 0.15s, box-shadow 0.25s ease-out,
			--myColor1 0.25s ease-out, --myColor2 0.25s ease-out;
		box-sizing: border-box;
		color: var(--button-text-color);
		border: 5px solid var(--button-text-color);
	}

	.btn-shadow {
		width: 70%;
		margin-top: 40%;
		height: 100%;
		padding: 0.5%;
		justify-content: center;
		align-items: center;
		background: transparent;
		border-radius: 15px;
	}

	.btn-shadow.remove-btn > button {
		font-size: 10px;
	}
	.btn-shadow.remove-btn {
		height: 25px;
		width: 25px;
		margin: none;
	}

	.edit-btn-shadow {
		background-color: #e0e0e0;
		width: 100%;
		height: 20%;
		justify-content: center;
		border: 2px var(--button-color) solid;
		align-items: center;
		align-items: center;
		border-radius: 15px;
		padding: 0.2%;
	}
	.media-display-none {
		display: none;
		font-size: 0px;
	}

	.nav-link {
		padding-right: 0 !important;
		font-size: 80%;
	}

	.dialogue-box-schedule {
		margin-top: 0%;
		align-items: center;
		height: 70%;
	}

	.dialogue-box-marathon {
		margin-top: -10%;
	}

	.dialogue-box-admin {
		margin: 0;
		margin-top: -5%;
	}

	.dialogue-box-cc {
		margin: 0;
		margin-top: -15%;
	}

	.label-text-white.small-subheading {
		font-size: 12px;
	}

	.dialogue-box-admin-help {
		margin-top: -0%;
		align-items: center;
		background: transparent;
		transform: scale(100%);
		height: 112%;
	}

	.dialogue-box-teams {
		margin-top: -3%;
	}

	.dialogue-box-teams > .team-input-container {
		margin-left: -10%;
	}

	.dialogue-box-data {
		margin-top: 0.8%;
		height: 60%;
		align-items: center;
	}

	.media-navbar {
		display: inline-block;
	}

	.page-background {
		width: 100%;
		height: 100%;
	}

	.dialogue-box-user-help {
		margin-top: 0%;
		align-items: center;
		background: transparent;
		transform: scale(100%);
		height: 112%;
	}

	.dialogue-box-first-event {
		padding: 35% 10% 4% 10%;
		margin-top: -20%;
	}

	.dynamic-schedule-container {
		width: 375px;
		height: 100%;
		padding-top: 4%;
		align-items: center;
		display: flex;
		flex-direction: column;
		background: linear-gradient(
			var(--luka-purple) 0px,
			var(--luka-purple) 60px,
			white 60px,
			white 100%
		);
		border-radius: 20px;
		min-width: none;
	}

	/**-----------------------------------BACK BUTTON COMPONENT ---------------------------------- **/

	.back-button-wrapper {
		display: none;
	}
	/*-------- NAVBAR--------------*/

	.navbar-nav.mr-auto {
		justify-content: center;
		align-items: center;
	}

	#nav-logo {
		width: 25%;
		margin-left: 2%;
		cursor: pointer;
	}

	.change-event-selection {
		border-radius: 10px;
		font-family: "SkipPro-B";
		border: 2px outset var(--luka-purple);
	}
	.navbar ul {
		list-style: none;
	}

	.navbar-wrapper {
		width: 40%;
	}

	.hamburger {
		display: fixed;
		margin-left: 10px;
		z-index: 6;
	}

	.user-help-wrapper {
		margin-top: 0%;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		height: 47%;
		margin: 0%;
		width: 100%;
	}

	.nav-button-back {
		align-items: center;
		justify-content: center;
		background-color: var(--lighter-luka-purple);
		border-radius: 15px;
		padding: 0.5% 0.5%;
		width: 10%;
		display: flex;
		text-align: center;
		text-wrap: wrap;
		margin-right: 2%;
	}

	.nav-button-back:hover {
		align-items: center;
		justify-content: center;
		background-color: var(--dark-luka-purple);
		border-radius: 15px;
		padding: 0.5% 0.5%;
		text-wrap: wrap;
		text-align: center;
	}

	.nav-button-link {
		text-decoration: none;
		color: var(--dark-luka-purple);
		transition: color, background-color 0.15s ease-in-out,
			text-shadow 0.1s ease-in-out, transform 0.15s ease-in-out;
		font-size: 80%;
		padding: 0;
		text-align: left;
	}

	.nav-button-link-change {
		text-decoration: none;
		background-color: transparent;
		color: var(--dark-luka-purple);
		transition: color, background-color 0.15s ease-in-out,
			text-shadow 0.1s ease-in-out, transform 0.15s ease-in-out;
		font-size: 80%;
		padding: 0;
		text-align: left;
		border: none;
		border-radius: 15px;
		cursor: pointer;
		transition: color, transform 0.15s ease-in-out, box-shadow 0.3s ease-in-out;
		box-sizing: border-box;
	}

	.nav-button-link-change:hover {
		background-color: transparent;
		text-decoration: none;
		text-shadow: 2.75px 1px var(--darker-luka-purple);
		color: white;
		transform: scale(110%);
	}

	a {
		text-decoration: none;
		color: var(--dark-luka-purple);
		transition: color, background-color 0.15s ease-in-out,
			text-shadow 0.1s ease-in-out, transform 0.15s ease-in-out;
	}

	a:hover {
		text-decoration: none;
		text-shadow: 2.75px 1px var(--darker-luka-purple);
		color: white;
		transform: scale(110%);
	}

	.navbar-brand {
		font-family: "Yuruka-UB";
	}

	.navbar {
		background: var(--luka-purple);
		font-size: 110%;
		font-family: "PopHappiness-EB";
		display: flex;
		width: 100%;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-items: center;
	}

	.navbar-nav {
		justify-content: center;
		width: 100%;
		flex-direction: row;
	}

	.nav-event.nav-link {
		font-size: 100%;
		margin: 0;
		color: var(--dark-luka-purple);
	}

	/*-------------------create event---------------*/
	.global-header.new-event-header {
		font-size: 30px;
	}
	/*---------------userhelp -------------------*/
	.welcome-message {
		font-size: 25px;
		background-color: var(--light-luka-purple);
		margin-bottom: 10%;
		padding-top: 20px;
		font-family: "SkipPro-B";
		text-align: center;
	}

	.event-wrapper > .top-dialogue {
		flex-direction: row;
		display: flex;
	}

	.top-dialogue > .top-label-wrapper {
		width: 100%;
	}

	.rectangular-label-wrapper.event-label-back {
		width: 100%;
	}
	.event-wrapper > .top-dialogue {
		margin-top: 0;
	}
	.top-event-input > div,
	.top-event-input > .event-selection {
		margin-top: 15%;
		margin-bottom: 15%;
	}

	.label-text-white.new-event-label {
		font-size: 15px;
	}
	.top-input-wrapper.top-event-input {
		flex-direction: column;
	}
	.user-help-container > .global-header {
		background-color: var(--light-luka-purple);
		border-radius: 15px;
		padding-bottom: 2%;
	}

	.user-help.page-background {
		background-color: var(--light-luka-purple);
	}

	.answer-container:nth-of-type(odd) {
		font-family: "SkipPro-B";
		background-color: var(--light-luka-purple);
		border-radius: 15px;
		padding: 2%;
		margin: 2%;
	}
	.answer-container:nth-of-type(even) {
		font-family: "SkipPro-B";
		background-color: var(--dark-luka-purple);
		border-radius: 15px;
		padding: 2%;
		color: var(--light-luka-purple);
		padding: 2%;
		margin: 2%;
	}

	.answer-container > .help-question:nth-of-type(odd) {
		font-size: 18px;
		text-decoration: underline;
		text-align: center;
	}

	.help-answer {
		font-size: 16px;
		text-align: center;
	}

	/*-------------schedule-----------*/
	.schedule-submit,
	.schedule-load {
		display: none;
	}
	.hour-team-wrapper {
		padding: 0.25%;
		justify-content: flex-end;
		align-items: center;
		background-color: var(--luka-purple);
		border-radius: 15px;
		display: flex;
		flex-wrap: nowrap;
		flex: 1 0 20%; /* explanation below */
		padding: 2%;
		flex-direction: column;
	}

	[class^="btn-scroll"] {
		color: var(--light-luka-purple);
		background: var(--dark-luka-purple);
		border: none;
		font-family: "SkipPro-B";
		border-radius: 4px;
		margin: 0.5%;
		width: 4%;
		position: fixed;
	}

	.btn-scroll-down {
		bottom: 0;
		left: 0;
	}

	.edit-btns-container {
		margin: 0;
	}

	.wing-box.teams > button {
		margin-left: 10px;
	}

	.team-number-title {
		display: none;
	}

	.center-and-column {
		align-items: center;
		justify-content: center;
		margin-top: 75%;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	[class^="hour-container"] {
		border-radius: 15px;
		width: 300px;
		min-width: 350px;
		max-width: none;
		height: 100%;
	}

	.wrap-on-media.no-wrap {
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%;
	}

	.table-wrapper {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
		font-size: 10px;
	}
	thead {
		font-size: 15px;
	}

	[class^="filler-input"] {
		border-radius: 10px;
		font-family: "SkipPro-B";
		border: 2px outset var(--luka-purple);
	}

	.hour-form-wrapper {
		padding: 0.25%;
		justify-content: center;
		align-items: center;
		background-color: var(--luka-purple);
		border-radius: 15px;
		display: flex;
		flex-wrap: wrap;
		flex: 1 0 20%;
		padding: 2%;
	}
	/*-----------CC ---------------*/
	.team-input-container {
		width: 100%;
		height: 100%;
		justify-content: space-around;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.team-input-wrapper {
		width: 100%;
		height: 10%;
		margin-left: 0;
		padding: 3% 0%;
	}

	.user-help-container {
		margin-top: 0;
	}
	.top.user-help-container {
		margin-top: 0;
		position: fixed;
		left: 0;
		top: 1%;
	}

	.stat-input {
		width: 85%;
		font-family: "PopHappiness-EB";
		font-size: 125%;
		text-align: center;
		background: #ffffff;
		border: 3px solid var(--miku-gray);
		border-radius: 15px;
		box-sizing: border-box;
	}

	.top-label-wrapper {
		width: 100%;
		margin-top: 0%;
		margin-left: 0%;
		display: flex;
		flex-direction: column;
	}

	.top-input-wrapper {
		width: 100%;
		margin: 0;
		justify-content: left;
		display: flex;
		flex-direction: column;
		margin-left: 5%;
	}

	.event-selection > select {
		width: 100%;
	}

	.event-selection {
		align-items: center;
		display: flex;
		justify-content: center;
		flex-direction: row;
		width: 90%;
		height: 100%;
		cursor: default;
		font-size: 10px;
		padding: 3%;
		border-radius: 10px;
		margin: 5%;
	}
	.first-event-text {
		font-family: "SkipPro-B";
		cursor: default;
	}

	.manager-name-input {
		width: 80%;
		height: 100%;
		margin: 5%;
		padding: 1.2%;
		font-family: "MinchoPro-B";
		background: #ffffff;
		border: 3px solid var(--miku-gray);
		border-radius: 10px;
	}

	.discord-name-input {
		width: 90%;
		height: 100%;
		margin: 5%;
		margin-bottom: 14%;
		margin-top: 8%;
		padding: 1%;
		font-family: "MinchoPro-B";
		background: #ffffff;
		border: 3px solid var(--miku-gray);
		border-radius: 15px;
	}

	.rectangular-label-wrapper {
		width: 50%;
		display: flex;
		align-content: center;
		justify-content: center;
		margin: 0;
		align-items: center;
		border-radius: 10px;
		background: var(--miku-gray);
		box-shadow: 2.5px 5px 4px var(--background-gray);
	}

	.rectangular-label-wrapper.full {
		width: 100%;
		margin: 5%;
	}

	.label-text-white {
		margin: 0 !important;
		font-family: "SkipPro-B";
		font-size: 18px;
		text-align: center;
		color: #ffffff;
		cursor: default;
	}

	.top-dialogue {
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		flex-direction: row;
		align-items: center;
		margin-top: 24%;
	}
	/*----------schedule-------------*/
	.event-txt {
		font-size: 175%;
	}

	.event-selection-wrapper {
		width: 100%;
		height: 100%;
		margin-top: 0%;
		justify-content: center;
		align-items: center;
		display: flex;
		flex-direction: column;
	}

	.event-input-wrapper {
		width: 100%;
		height: 10%;
		align-items: center;
		justify-content: center;
		display: flex;
	}

	.btn-shadow-event {
		width: 60%;
		margin-top: 10%;
		height: 15%;
		padding: 0.5%;
		justify-content: center;
		text-align: center;
		align-items: center;
		display: flex;
		background: transparent;
		border-radius: 10px;
	}

	.event-dropdown-wrapper {
		margin-top: 2%;
		margin-bottom: 10%;
	}

	/*-------- ADMIN PAGE----------*/
	.admin-wrapper {
		margin-top: 15%;
		height: 100%;
		width: 100%;
		padding: 15% 0;
		margin: 0;
	}

	.small-font {
		font-size: 14px;
	}

	.dialogue-box-admin-help > .admin-wrapper {
		padding: 0;
	}

	.admin-help-body {
		font-size: 20px;
	}

	.admin-form {
		width: 100%;
		height: 100%;
		margin-top: 5%;
		margin-left: 0%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.admin-input-family > div {
		margin-top: 1%;
	}

	.admin-input-family {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin: 2%;
	}

	.submit-wrapper {
		margin: 0;
		padding-top: 0%;
		justify-content: center;
		align-items: center;
		display: flex;
	}

	.global-header {
		width: 100%;
		height: 100%;
		justify-content: center;
		display: flex;
		text-align: center;
		font-family: var(--blocky-site-heading);
		font-size: 175%;
		color: var(--dark-luka-purple);
		text-shadow: 5px 2px var(--luka-purple);
		margin-top: 4%;
	}

	.global-header.scale-up {
		padding-bottom: 4%;
		padding-top: 2%;
		margin-bottom: 2%;
		transform: none;
	}

	.mobile-notice {
		padding: 3%;
		font-family: "SkipPro-B";
	}

	/*-----------------------------------ACESSORIES COMPONENT-----------------------------------*/
	.base-accessories-wrapper {
		display: none;
	}
	.border-wrapper {
		display: none;
	}

	.display-none-on-mobile {
		display: none;
	}

	.k-div {
		display: none;
	}

	.mobile-notice {
		display: flex;
	}
}

/* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
@media (min-width: 481px) {
}
/* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
@media (min-width: 641px) {
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 961px) {
}
@media (min-width: 1025px) {
	/* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
	/* hi-res laptops and desktops */
}

.hamburger {
	display: none;
	z-index: 6;
}

@media (max-width: 767px) {
}
